.exercicios {
    background-color: rgba(0, 0, 255, 0.4);
    border: solid 1px blue;
    margin: 10px 2px;
}

.exercicios p, .exercicios code {
    font-weight: bold;
}


.section-calculador {
    width: 60%;
    height: 600px;
    margin:100px auto;
    display: grid;
    grid-template-columns: auto auto auto  auto;
    grid-template-rows: auto auto auto auto auto;
    border: solid;
    
    
    
}

.section-calculador div {
    font-size: 40px;
    text-align: center;
    background-color: white;
    font-weight: bolder;
    border: solid;
}
#item-1{
    grid-column: 1 / 4;
   
}
#item-3{
    border: none;
}
.section-calculador  div + div {
    border-left: solid;
}
